@import "./fonts/fonts.css";
@import "./global/global.css";
@import "./nav/nav.css";
@import "./footer/footer.css";
@import "./nav/nav.css";





// hero section
//  

.section {
    &__main {
        position: relative;
    }

    &__main_first {
        margin: 5rem 0rem;

        h3 {
            font-size: 5rem;
            font-weight: 800 !important;
            // font-family: "Roboto", sans-serif;
            font-family: "Inter", sans-serif !important;

            span {
                color: rgb(224, 68, 11);
            }
        }

        p {
            font-size: 1.8rem;
            width: 90%;
        }

        .list-style {
            li {
                i {
                    padding: 0.7rem 0.5rem;
                }
            }
        }
    }

    &__main_second {
        img {
            width: 80%;
            height: auto;
        }
    }

}

#logo-img {
    background-color: rgba(17, 17, 17, 0.713);
    border-radius: 1rem;
    transition: all 1s;

    &:hover {
        box-shadow: 1px 1px 10px rgba(223, 223, 223, 0.775);
        transition: all 0.5s linear;

    }
}

.btn-gap {
    button {
        font-size: 1.6rem;
        padding: 0.8rem 1.8rem;
    }

    button:last-child {
        margin-left: 1rem;
    }
}

.list-style {
    padding: 0;
    margin: 0;

    li {
        color: rgb(47, 48, 47);
        font-weight: 600;
        list-style: none;
        font-size: 1.5rem;

        .fa-check {
            color: green;
            font-size: 1.5rem;
        }

    }
}

@mixin clearfix{
     &::after{
        content: " ";
        display: table;
        clear: both;
    }
}

$row-width : 113rem;
$gutter-vertical : 5rem;
$gutter-horizontal : 3rem;

.row-test {
    max-width: $row-width;
    margin: 1.2rem auto;
}

.row {
    font-size: 2rem;
    background-color: #eee;


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        float: left;
        background-color: orangered;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

   @include clearfix;

    [class^= "col-"]{
        float: left;
        background-color: orangered;
        
         &:not(:last-child){
            margin-right: $gutter-horizontal;
        }   
    }

   .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
   .col-2-of-3 {
        width: calc(2 * ( (100% - 2 * #{$gutter-horizontal}) / 2)) + #{$gutter-horizontal};
    }

    .col-1-of-4{
         width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

   


}