$listColor : rgb(225, 220, 220);
$hovercolor: rgba(255, 224, 47, 0.849);
$header_footer_color:#374f7f;
$footer-color-last : rgba(42, 42, 42, 0.88);

footer {
    background-color: $header_footer_color;

    h3 {
        color: rgb(241, 211, 41);
        font-size: 2.5rem;
    }

    ul {
        margin-top: 1rem;
        margin: 0;
        padding: 0rem 0.5rem 0rem;
    }

    li {
        color: $listColor ;
        list-style: none;
        font-size: 1.5rem;
        

        a {
            color: $listColor ;
            text-decoration: none;
            font-size: 1.5rem;
            transition: all 0.5s;
            
        }
        a:hover{
            color: $hovercolor;
            padding-left: 1rem;
            transition: all 0.5s;
            
        }
    }
    .footer-list{
        padding: 1.2rem;
        

    }

}
.footer{
    &__main{
    background-color:$footer-color-last;
    
    }
    &__twocol{ 
        padding: 1rem 0rem;   
        display: flex;
        justify-content: center;   
        align-items: center; 
            p{
                color: rgb(220, 225, 225);
                font-size: 1.6rem;
                text-align: center;
                a{
                    text-decoration: none;
                    color: rgb(78, 245, 234);
                }
                a:hover{
                    color: rgba(224, 233, 106, 0.814);
                }
            }
    }
}
