@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.for-center{
 position: relative;
 top: 2rem;
}
nav li {
    font-size: 0.9rem;
}


#nav-color {
    background-color: #05213d;
}

.nav-link:hover {
    color: #f3e51f;
}

.nav-link:active {
    color: aqua;
}

.nav-link {
    color: #fff;
}

#logo-img {
    width: 4.5rem;
    height: auto;
}

.dropdown-menu {
    background-color: rgb(19, 30, 67);
}

.dropdown-menu li a {
    color: #fff;
}

.dropdown-menu li a:hover {
    background-color: rgb(12, 13, 13);
}

footer {
    background-color: #4c4d4d;
}

.footer-main p {
    color: #fff;
    padding: 2rem 0rem;
    font-size: 0.9rem;
}

footer ul li {
    list-style-type:square;
    color: #f3e51f;
}

footer li a {
    color: #dbd8d8;
    text-decoration: none;
}

footer li a:hover {
    color: #f3e51f;
    border-bottom: 1px solid rgba(187, 189, 187, 0.819);
    transition: border 1s ease-in;
}


.foot-icon {
    display: flex;
    gap: 1.3rem;
}

.foot-icon li {
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    padding: 0.6rem;
}

.foot-icon li:hover {
    opacity: 0.7;
    border: 2px solid gray;
}

.foot-icon img {
    width: 3.2rem;
    padding: .4rem;
}

.footer-icons {
    position: relative;
    left: -2rem;
    top: -1rem;
}

.linear {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.linear h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.footer-main {
    display: flex;
    flex-direction: column;
}

.set-height {
    height: 30rem;
}

.btn-gap button {
   width: 10rem;
    height: 3rem;
    background-color: rgb(26, 34, 188);
    border: none;
    gap: 3rem;
}

.btn-gap button:hover {
    background-color: #1b6ec2;
    color: #ffffff;
}

.list-style{
    display: block;
}
.list-style i{
    color: #00b292;
    font-size: 20px;
    font-weight: 800;
    
}
.list-style span{
    padding-left: 1rem;
}
footer h3{
    color: white;
}
.set-height h1 span{
    color: #f57412;
    font-size: 3.6rem;
    font-weight: 700;
}
.set-height h1{
    line-height: 3.5rem;
    font-size: 3.2rem !important;
}
