.row-test {
  max-width: 142rem;
  margin: 1rem auto;
}

.row {
  font-size: 1.5rem;
  margin: 5rem 5rem;
}
.row:not(:last-child) {
  margin-bottom: 5rem;
}
.row::after {
  content: " ";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  padding: 2rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 3rem;
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
  padding: 5rem 1rem;
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}
.row .col-1-of-4 {
  width: calc(3 * (100% - 2 * 3rem) / 4 + 3rem);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3rem) / 2)3rem;
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3rem) / 3 + 3rem);
}
.row .col-2-of-4 {
  width: calc(3 * (100% - 3 * 3rem) / 4 + 2 * 3rem);
}

.first-part {
  padding: 2rem 0rem;
}
.first-part h1,
.first-part p {
  padding-bottom: 2rem;
}
.first-part a:link {
  text-decoration: none;
  font-size: 1.8rem;
  color: rgb(17, 35, 172);
  padding: 4px;
  border-bottom: 1px solid rgb(17, 35, 172);
  transition: all 0.4s;
}
.first-part a:link:hover {
  background-color: rgb(30, 242, 253);
  color: white;
  padding: 4px;
  transform: translateX(10rem);
  transition: all 0.4s;
  border-radius: 3px;
}

.img-size {
  position: relative;
  transition: all 0.5s linear;
}
.img-size img {
  width: 50%;
  height: 30rem;
  position: absolute;
  transition: all 0.5s;
}
.img-size .one {
  left: -2rem;
  top: -8rem;
}
.img-size .two {
  left: 15rem;
  top: 0rem;
}
.img-size .three {
  left: 3rem;
  top: 10rem;
}
.img-size img:hover {
  z-index: 10;
  outline: 7px solid rgb(242, 255, 0);
  transform: scale(103%);
  outline-offset: 10px;
  transition: all 0.5s linear;
}
.img-size:hover,
.img-size img:not(:hover) {
  transform: scale(0.95);
  transition: all 0.6s linear;
}

.background_col {
  padding: 10rem 0rem;
}
.background_col .box {
  background-color: rgb(30, 216, 219);
  padding: 4rem 2rem;
  transition: transform 0.6s;
}
.background_col .box:hover {
  transform: translateY(-15px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3058823529);
  transition: transform 0.3s;
  transform: scaleY(103%) scaleX(101%);
}
.background_col .box .icon-small {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
.background_col .box h3 {
  font-size: 2.4rem;
}
.background_col .box h3,
.background_col .box p {
  margin-bottom: 1.2rem;
}
.background_col .box .main-section {
  text-align: left;
}

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
}
.card__side {
  background-color: red;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  height: 30rem;
  transition: all 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card__side--front {
  background: linear-gradient(90deg, rgba(247, 139, 23, 0.9976365546) 16%, rgb(193, 232, 137) 82%);
}
.card__side--back {
  background: linear-gradient(90deg, rgba(43, 169, 179, 0.9780287115) 1%, rgb(152, 232, 137) 82%);
  transform: rotateY(-180deg);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__img {
  background-image: url(https://images.unsplash.com/photo-1594136662380-3580470c089d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
}/*# sourceMappingURL=home.css.map */